// Mixins in here
.mixButton(@radius){
    font-family: "Courier";
    width: 13rem;
    height: 3rem;
    border: 1rem;
    border-radius: @radius;
    border-right: groove;
    border-bottom: groove;
  }