// Navigation Styles here
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: dashed 2px #DDDDDD;
    
    h1 {
        margin: 10px 280px 10px 0;
    }
    nav {
        margin: 24px 0 ;
        
        a {
            padding: 0 20px;
            text-decoration: none;
            font-size: 1.6rem;

        }
    }

    @media @mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            margin: 0 auto;
        }
    }
}